
-# used in the layout, for html page header and H2 text
- @page_title = "Quick Set - Advanced Search"


.search_panel.container

  = form_tag scoped_search_path, :method => "GET" do

    .row.well
      .col-sm-9
        = text_field_tag(:q, '', {size: 60})
      .col-sm-3
        = link_to "Simple Search", scoped_simple_path

    = render 'quickset_pick_panel', quicksets: @quicksets

    .row.well
      .col-sm-12
        = submit_tag("Search")

