-# used in the layout, for html page header and H2 text
- @page_title = "Quick Set - Simple Search"


.search_panel.container

  = form_tag scoped_search_path, :method => "GET" do

    .row.well
      .col-sm-9
        = text_field_tag(:q, '', {size: 60})
      .col-sm-3
        = link_to "Advanced Search", scoped_advanced_path

    = render 'quickset_pick_panel', quicksets: @quicksets

    .row.well
      .col-sm-12
        = submit_tag("Search")

        -# #translate Blacklight search_field into query index
        -# if options["search_field"].present?
        -#   if options["search_field"] == "author"
        -#     fieldcode = "AU:"
        -#   elsif options["search_field"] == "subject"
        -#     fieldcode = "SU:"
        -#   elsif options["search_field"] == "title"
        -#     fieldcode = "TI:"
        -#   else
        -#     fieldcode = ""
        -#   end
        -# else
