-# # show available facets
-# def show_facets
-#   facets = '';
-#   if session[:results]['SearchResult']['AvailableFacets'].present?
-#     session[:results]['SearchResult']['AvailableFacets'].each do |facet|
-#       facets = facets + '<div class="panel panel-default facet_limit blacklight-' + facet['Id'] + '"><div class="collapse-toggle panel-heading collapsed" data-target="#facet-' + facet['Id'] + '" data-toggle="collapse"><h5 class="panel-title"><a href="#" data-no-turbolink="true">' + facet['Label'] + '</a></h5></div><div id="facet-' + facet['Id'] + '" class="panel-collapse facet-content collapse"><div class="panel-body"><ul class="facet-values list-unstyled">'
-#       facet.each do |key, val|
-#         if key == "AvailableFacetValues"
-#           val.each do |facetValue|
-#             facets = facets + '<li><span class="facet-label"><a class="facet_select" href="' + request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=" + CGI.escape(facetValue['AddAction'].to_s) + '">' + facetValue['Value'].to_s.titleize + '</a></span> <span class="facet-count">' + facetValue['Count'].to_s + '</span></li>'
-#           end
-#         end
-#       end
-#       facets = facets + '</ul></div></div></div>'
-#     end
-#   end
-#   return facets.html_safe
-# end

- session[:results]['SearchResult']['AvailableFacets'].each do |facet|
  
  .panel.panel-default.facet_limit{class: "blacklight-#{facet['Id']}"}

    .collapse-toggle.panel-heading.collapsed{data: {target: "#facet-#{facet['Id']}", toggle: 'collapse'}}

      %h5.panel-title
        = link_to facet['Label'], "#", :"data-no-turbolink" => true

    .panel-collapse.facet-content.collapse{id: "facet-#{facet['Id']}"}
      .panel-body
        %ul.facet-values.list-unstyled
  
          - facet.each do |key, val|
            - if key == "AvailableFacetValues"
              - val.each do |facetValue|
              
                %li
                  %span.facet-label
                    %a.facet_select{href: request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=" + CGI.escape(facetValue['AddAction'].to_s)}
                      = facetValue['Value'].to_s.titleize

                  %span.facet-count #{facetValue['Count']}


